/* ------------------------------------------------------------ \
	Logos, Icons
\ ------------------------------------------------------------ */

.logo,
[class*="ico-"]:not(.before):not(.after),
.before[class*="ico-"]:before,
.after[class*="ico-"]:after { content: ''; display: inline-block; vertical-align: middle; background-size: contain; background-position: center center; background-repeat: no-repeat; }

.logo,
[class*="ico-"]:not(.before):not(.after) { font-size: 0; line-height: 0; text-indent: -4000px; }

.ico-search:not(.before):not(.after),
.ico-search.before:before,
.ico-search.after:after { width: 22px; height: 22px; background-image: url(/images/icons/ico-search.png); }

.ico-bg:not(.before):not(.after),
.ico-bg.before:before,
.ico-bg.after:after { width: 48px; height: 48px; background-image: url(/images/icons/ico-bg.png); }

.ico-drawing:not(.before):not(.after),
.ico-drawing.before:before,
.ico-drawing.after:after { width: 60px; height: 60px; background-image: url(/images/icons/ico-drawing.png); }

.ico-building:not(.before):not(.after),
.ico-building.before:before,
.ico-building.after:after { width: 60px; height: 60px; background-image: url(/images/icons/ico-building.png); }

.ico-design:not(.before):not(.after),
.ico-design.before:before,
.ico-design.after:after { width: 60px; height: 60px; background-image: url(/images/icons/ico-design.png); }

.ico-repair:not(.before):not(.after),
.ico-repair.before:before,
.ico-repair.after:after { width: 60px; height: 60px; background-image: url(/images/icons/ico-repair.png); }

.ico-arrow-right:not(.before):not(.after),
.ico-arrow-right.before:before,
.ico-arrow-right.after:after { width: 13px; height: 9px; background-image: url(/images/icons/ico-arrow-right.png); }

.ico-building-mini:not(.before):not(.after),
.ico-building-mini.before:before,
.ico-building-mini.after:after { width: 14px; height: 14px; background-image: url(/images/icons/ico-building-mini.png); }

.ico-pin:not(.before):not(.after),
.ico-pin.before:before,
.ico-pin.after:after { width: 12px; height: 17px; background-image: url(/images/icons/ico-pin.png); }

.ico-phone:not(.before):not(.after),
.ico-phone.before:before,
.ico-phone.after:after { width: 12px; height: 12px; background-image: url(/images/icons/ico-phone.png); }

.ico-email:not(.before):not(.after),
.ico-email.before:before,
.ico-email.after:after { width: 16px; height: 11px; background-image: url(/images/icons/ico-email.png); }

.ico-globe:not(.before):not(.after),
.ico-globe.before:before,
.ico-globe.after:after { width: 16px; height: 15px; background-image: url(/images/icons/ico-globe.png); }

.ico-facebook:not(.before):not(.after),
.ico-facebook.before:before,
.ico-facebook.after:after { width: 22px; height: 22px; background-image: url(/images/icons/ico-facebook.png); }

.ico-arrow-down:not(.before):not(.after),
.ico-arrow-down.before:before,
.ico-arrow-down.after:after { width: 9px; height: 13px; background-image: url(/images/icons/ico-arrow-down.png); }

.logo { width: 163px; height: 46px; background-image: url(/images/logo.png); }

@media (max-width: 1023px) {
	.ico-nav-play:not(.before):not(.after),
	.ico-nav-play.before:before,
	.ico-nav-play.after:after { width: 12px; height: 16px; background-image: url(/images/icons/ico-nav-play.png); }

	.ico-nav-group:not(.before):not(.after),
	.ico-nav-group.before:before,
	.ico-nav-group.after:after { width: 21px; height: 12px; background-image: url(/images/icons/ico-nav-group.png); }

	.ico-nav-dashboard:not(.before):not(.after),
	.ico-nav-dashboard.before:before,
	.ico-nav-dashboard.after:after { width: 18px; height: 17px; background-image: url(/images/icons/ico-nav-dashboard.png); }

	.ico-nav-house:not(.before):not(.after),
	.ico-nav-house.before:before,
	.ico-nav-house.after:after { width: 17px; height: 16px; background-image: url(/images/icons/ico-nav-house.png); }

	.ico-nav-chatbox:not(.before):not(.after),
	.ico-nav-chatbox.before:before,
	.ico-nav-chatbox.after:after { width: 21px; height: 19px; background-image: url(/images/icons/ico-nav-chatbox.png); }

	.ico-nav-envelope:not(.before):not(.after),
	.ico-nav-envelope.before:before,
	.ico-nav-envelope.after:after { width: 20px; height: 15px; background-image: url(/images/icons/ico-nav-envelope.png); }

	.logo { width: 115px; height: 33px; }
}

/* Retina Display */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
	.ico-search:not(.before):not(.after),
	.ico-search.before:before,
	.ico-search.after:after { background-image: url(/images/icons/ico-search@2x.png); }

	.ico-bg:not(.before):not(.after),
	.ico-bg.before:before,
	.ico-bg.after:after { background-image: url(/images/icons/ico-bg@2x.png); }

	.ico-drawing:not(.before):not(.after),
	.ico-drawing.before:before,
	.ico-drawing.after:after { background-image: url(/images/icons/ico-drawing@2x.png); }

	.ico-building:not(.before):not(.after),
	.ico-building.before:before,
	.ico-building.after:after { background-image: url(/images/icons/ico-building@2x.png); }

	.ico-design:not(.before):not(.after),
	.ico-design.before:before,
	.ico-design.after:after { background-image: url(/images/icons/ico-design@2x.png); }

	.ico-repair:not(.before):not(.after),
	.ico-repair.before:before,
	.ico-repair.after:after { background-image: url(/images/icons/ico-repair@2x.png); }

	.ico-arrow-right:not(.before):not(.after),
	.ico-arrow-right.before:before,
	.ico-arrow-right.after:after { background-image: url(/images/icons/ico-arrow-right@2x.png); }

	.ico-building-mini:not(.before):not(.after),
	.ico-building-mini.before:before,
	.ico-building-mini.after:after { background-image: url(/images/icons/ico-building-mini@2x.png); }

	.ico-pin:not(.before):not(.after),
	.ico-pin.before:before,
	.ico-pin.after:after { background-image: url(/images/icons/ico-pin@2x.png); }

	.ico-phone:not(.before):not(.after),
	.ico-phone.before:before,
	.ico-phone.after:after { background-image: url(/images/icons/ico-phone@2x.png); }

	.ico-email:not(.before):not(.after),
	.ico-email.before:before,
	.ico-email.after:after { background-image: url(/images/icons/ico-email@2x.png); }

	.ico-globe:not(.before):not(.after),
	.ico-globe.before:before,
	.ico-globe.after:after { background-image: url(/images/icons/ico-globe@2x.png); }

	.ico-facebook:not(.before):not(.after),
	.ico-facebook.before:before,
	.ico-facebook.after:after { background-image: url(/images/icons/ico-facebook@2x.png); }

	.ico-nav-play:not(.before):not(.after),
	.ico-nav-play.before:before,
	.ico-nav-play.after:after { background-image: url(/images/icons/ico-nav-play@2x.png); }

	.ico-nav-group:not(.before):not(.after),
	.ico-nav-group.before:before,
	.ico-nav-group.after:after { background-image: url(/images/icons/ico-nav-group@2x.png); }

	.ico-nav-dashboard:not(.before):not(.after),
	.ico-nav-dashboard.before:before,
	.ico-nav-dashboard.after:after { background-image: url(/images/icons/ico-nav-dashboard@2x.png); }

	.ico-nav-house:not(.before):not(.after),
	.ico-nav-house.before:before,
	.ico-nav-house.after:after { background-image: url(/images/icons/ico-nav-house@2x.png); }

	.ico-nav-chatbox:not(.before):not(.after),
	.ico-nav-chatbox.before:before,
	.ico-nav-chatbox.after:after { background-image: url(/images/icons/ico-nav-chatbox@2x.png); }

	.ico-nav-envelope:not(.before):not(.after),
	.ico-nav-envelope.before:before,
	.ico-nav-envelope.after:after { background-image: url(/images/icons/ico-nav-envelope@2x.png); }

	.ico-arrow-down:not(.before):not(.after),
	.ico-arrow-down.before:before,
	.ico-arrow-down.after:after { background-image: url(/images/icons/ico-arrow-down@2x.png); }

  	.logo { background-image: url(/images/logo@2x.png); }
}

/* ------------------------------------------------------------ *\
	Section Primary
\* ------------------------------------------------------------ */

.section-primary { display: flex; margin-bottom: 50px; align-items: center; }

.section-primary h2 { margin-bottom: 50px; }

.section-primary .section__image { flex: 0 0 460px; margin-left: 50px; }
.section-primary .section__content { flex: 0 1 100%; }

@media (max-width: 1023px) {
	.section-primary .section__image { flex: 0 0 40%; }
}

@media (max-width: 767px) {
	.section-primary { position: relative; padding-top: 60px; flex-flow: row wrap; text-align: center; }
	
	.section-primary h2 { position: absolute; width: 100%; top: 0; left: 0; }

	.section-primary .section__image { flex: 0 0 100%; margin: 0 0 30px; }
	.section-primary .section__content { transform: none; order: 1; }
}

/* ------------------------------------------------------------ *\
	Section Secondary
\* ------------------------------------------------------------ */

.section-secondary { padding: 50px 0; text-align: center; }

.section-secondary h2 { margin-bottom: 55px; }

.section-secondary .section__actions a { position: relative; display: inline-block; font-size: 18px; font-weight: 700; text-decoration: none; }
.section-secondary .section__actions a:before { content: ''; position: absolute; width: 0; height: 1px; left: 50%; bottom: 0; background: #fff; transition: width .15s, left .15s; }
.section-secondary .section__actions a:after { margin-left: 10px; }
.section-secondary .section__actions a:hover:before { width: 100%; left: 0; }

@media (max-width: 767px) {
	.section-secondary { padding: 40px 0; }
	
	.section-secondary h2 { margin-bottom: 40px; }
}

/* ------------------------------------------------------------ *\
	List Checks
\* ------------------------------------------------------------ */

.list-checks { display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center; margin-bottom: 50px; font-size: 16px; line-height: 1.13; text-align: left; }

.list-checks li { position: relative; flex: 0 0 35%; padding-left: 50px; margin-bottom: 45px; }
.list-checks li:before { content: ''; position: absolute; width: 32px; height: 32px; top: 50%; left: 0; margin-top: -16px; background: url(../images/check-icon.png) no-repeat 0 0 / 100% 100%; }
.list-checks li:nth-last-child(-n+2) { margin-bottom: 0; }

@media (max-width: 1239px) {
	.list-checks li { flex: 0 0 45%; }
}

@media (max-width: 1023px) {
	.list-checks { font-size: 13px; }
}

@media (max-width: 500px) {
	.list-checks { display: block; margin-bottom: 35px; }
	
	.list-checks li:first-child { margin-top: 0; }

	.list-checks li,
	.list-checks li:nth-last-child(-n+2) { margin: 35px 0 0; }
}

/* ------------------------------------------------------------ *\
	Properties
\* ------------------------------------------------------------ */

.properties { margin-bottom: 50px; }

.property { display: flex; text-align: center; }

.property a { display: block; }
.property a:before { content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: 1px solid transparent; border-radius: 4px; transition: border-color .15s; }
.property a:hover:before { border-color: #1d8edd; }

.property .btn { position: static; }
.property .btn:before { content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

.property .property__inner { position: relative; flex: 0 0 100%; padding: 15px 12px; border-radius: 4px; background: #fff; }
.property .property__title { margin-bottom: 12px; font-weight: 700; color: #212b49; }
.property .property__price { margin-bottom: 18px; font-size: 24px; font-weight: 700; color: #bac2da; }

.property .property__image { margin-bottom: 15px; border-radius: 4px; overflow: hidden; }
.property .property__image img { display: block; width: 100%; }

@media (max-width: 767px) {
	.properties .property:nth-child(n+3) { margin-top: 20px; }
}

@media (max-width: 539px) {
	.properties { display: block; padding: 0 10px; margin: 0 0 35px; border-radius: 4px; overflow: hidden; background: #fff; }
	
	.properties .property:nth-child(n) { margin: 0; }
	.properties .property + .property { border-top: 1px solid #bac2da; }

	.property { padding: 12px 0; text-align: left; background: #fff; }
	
	.property a { display: flex; }
	.property a:before { display: none; }

	.property .property__title { font-size: 14px; }
	.property .property__inner { max-width: 100%; padding: 0; background: none; }
	.property .property__container { flex: 0 1 100%; }

	.property .btn { min-width: 0; padding: 0; border: 0; pointer-events: none; }
	.property .btn:after { content: ''; position: relative; display: inline-block; width: 13px; height: 9px; top: -1px; margin-left: 7px; vertical-align: middle; background: url(/images/property-arrow-right.png) no-repeat 0 0 / 100% 100%; }

	.property .property__image { flex: 0 0 120px; height: 120px; margin: 0 10px 0 0; border-radius: 0; }
	.property .property__image img { position: relative; width: auto; max-width: none; height: 100%; left: 50%; transform: translateX(-50%); }
}

/* ------------------------------------------------------------ *\
	Projects
\* ------------------------------------------------------------ */

.projects .project { margin-bottom: 20px; }
.projects .project:nth-last-child(-n+3) { margin-bottom: 0; }

.project { position: relative; font-size: 14px; line-height: 1.43; color: #fff; text-align: center; }

.project img { display: block; width: 100%; transition: filter .15s; }
.project a:hover img { filter: blur(5px); }
.project a:hover .project__overlay { transform: scale(1); opacity: 1; visibility: visible; }

.project .btn { pointer-events: none; }
.project .btn:after { position: relative; top: -1px; margin-left: 10px; }

.project .project__inner { flex: 0 0 100%; padding: 10px 20px; }
.project .project__entry { margin-bottom: 35px; }
.project .project__overlay { position: absolute; display: flex; align-items: center; top: 15px; right: 25px; bottom: 15px; left: 25px; transform: scale(.95); opacity: 0; visibility: hidden; background: rgba(29, 142, 221, 0.9); transition: transform .15s, opacity .15s, visibility .15s; }

.project .project__title { margin-bottom: 23px; font-size: 18px; font-weight: 700; color: #fff; }
.project .project__title span { display: block; font-size: 14px; font-weight: 400; }

@media (max-width: 539px) {
	.projects { display: block; }
	.projects.projects--expanded .project:nth-child(n) { display: block; }
	.projects.projects--expanded .projects__more { display: none; }

	.projects .projects__more { margin-top: 20px; }
	.projects .projects__more span:after { position: relative; top: -1px; margin-left: 10px; }
	
	.projects .project { margin: 0; }
	.projects .project:nth-child(n+4) { display: none; }
	.projects .project + .project { margin-top: 10px; }

	.project a:hover img { filter: none; }

	.project .project__inner { padding-top: 18px; padding-bottom: 18px; }
	.project .project__overlay { top: auto; transform: none; opacity: 1; visibility: visible; }
}

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { padding: 40px 0; font-size: 14px; line-height: 1.43; color: rgba(255, 255, 255, .5); background: #1e2027; }

.footer a { text-decoration: none; transition: color .15s; }
.footer a:hover { color: #1d8edd; }

.footer .footer__cols { margin: 0 -35px; }
.footer .footer__title { margin-bottom: 13px; font-size: 16px; font-weight: 700; color: #fff; }

.footer .footer__col { position: relative; padding: 0 35px; }
.footer .footer__col:before { margin-left: -1px; background: rgba(255, 255, 255, .1); }
.footer .footer__col:after { background: #16181c; }

.footer .footer__nav li { position: relative; padding-left: 17px; }
.footer .footer__nav li:before { content: ''; position: absolute; width: 8px; height: 8px; top: 50%; left: 0; margin-top: -4px; transform: rotate(45deg); opacity: .5; border-top: 1px solid #fff; border-right: 1px solid #fff; }
.footer .footer__nav li + li { margin-top: 7px; }

.footer .footer__social-link { display: inline-block; vertical-align: middle; transition: opacity .15s; }
.footer .footer__social-link:hover { opacity: .7; }

.footer .footer__list a { text-decoration: none; }
.footer .footer__list li { position: relative; padding-left: 30px; }
.footer .footer__list li:before { content: ''; position: absolute; top: 50%; left: 10px; transform: translate(-50%, -50%); }
.footer .footer__list li + li { margin-top: 8px; }

.footer .footer__entry { margin-bottom: 10px; }
.footer .footer__entry a { font-weight: 700; text-decoration: none; transition: color .15s; }
.footer .footer__entry a:hover { color: #1d8edd; }

.footer .footer__col + .footer__col:before,
.footer .footer__col + .footer__col:after { content: ''; position: absolute; width: 1px; height: 100%; top: 0; left: 0; }

@media (max-width: 1023px) {
	.footer .footer__col { padding-top: 20px; padding-bottom: 20px; }
	.footer .footer__col:nth-child(n+3) { border-top: 1px solid rgba(255, 255, 255, .1); }
}

@media (max-width: 539px) {
	.footer { padding: 25px 0; }

	.footer .footer__cols { margin: 0; }
	.footer .footer__col { padding: 15px 0; border-width: 1px 0 1px 0; border-style: solid; border-color: #16181c transparent #35373d; }
	.footer .footer__col:first-child { padding-top: 0; border-top: 0; }
	
	.footer .footer__col:before,
	.footer .footer__col:after { display: none; }

	.footer .footer__col:nth-child(3),
	.footer .footer__col:nth-child(4) { padding-bottom: 0; border-bottom: 0; }
}
