/* ------------------------------------------------------------ *\
	Magnific Popup
\* ------------------------------------------------------------ */

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/* ------------------------------------------------------------ \
	Logos, Icons
\ ------------------------------------------------------------ */

.logo,
[class*="ico-"]:not(.before):not(.after),
.before[class*="ico-"]:before,
.after[class*="ico-"]:after { content: ''; display: inline-block; vertical-align: middle; background-size: contain; background-position: center center; background-repeat: no-repeat; }

.logo,
[class*="ico-"]:not(.before):not(.after) { font-size: 0; line-height: 0; text-indent: -4000px; }

.ico-search:not(.before):not(.after),
.ico-search.before:before,
.ico-search.after:after { width: 22px; height: 22px; background-image: url(/images/icons/ico-search.png); }

.ico-bg:not(.before):not(.after),
.ico-bg.before:before,
.ico-bg.after:after { width: 48px; height: 48px; background-image: url(/images/icons/ico-bg.png); }

.ico-drawing:not(.before):not(.after),
.ico-drawing.before:before,
.ico-drawing.after:after { width: 60px; height: 60px; background-image: url(/images/icons/ico-drawing.png); }

.ico-building:not(.before):not(.after),
.ico-building.before:before,
.ico-building.after:after { width: 60px; height: 60px; background-image: url(/images/icons/ico-building.png); }

.ico-design:not(.before):not(.after),
.ico-design.before:before,
.ico-design.after:after { width: 60px; height: 60px; background-image: url(/images/icons/ico-design.png); }

.ico-repair:not(.before):not(.after),
.ico-repair.before:before,
.ico-repair.after:after { width: 60px; height: 60px; background-image: url(/images/icons/ico-repair.png); }

.ico-arrow-right:not(.before):not(.after),
.ico-arrow-right.before:before,
.ico-arrow-right.after:after { width: 13px; height: 9px; background-image: url(/images/icons/ico-arrow-right.png); }

.ico-building-mini:not(.before):not(.after),
.ico-building-mini.before:before,
.ico-building-mini.after:after { width: 14px; height: 14px; background-image: url(/images/icons/ico-building-mini.png); }

.ico-pin:not(.before):not(.after),
.ico-pin.before:before,
.ico-pin.after:after { width: 12px; height: 17px; background-image: url(/images/icons/ico-pin.png); }

.ico-phone:not(.before):not(.after),
.ico-phone.before:before,
.ico-phone.after:after { width: 12px; height: 12px; background-image: url(/images/icons/ico-phone.png); }

.ico-email:not(.before):not(.after),
.ico-email.before:before,
.ico-email.after:after { width: 16px; height: 11px; background-image: url(/images/icons/ico-email.png); }

.ico-globe:not(.before):not(.after),
.ico-globe.before:before,
.ico-globe.after:after { width: 16px; height: 15px; background-image: url(/images/icons/ico-globe.png); }

.ico-facebook:not(.before):not(.after),
.ico-facebook.before:before,
.ico-facebook.after:after { width: 22px; height: 22px; background-image: url(/images/icons/ico-facebook.png); }

.ico-arrow-down:not(.before):not(.after),
.ico-arrow-down.before:before,
.ico-arrow-down.after:after { width: 9px; height: 13px; background-image: url(/images/icons/ico-arrow-down.png); }

.ico-human-form:not(.before):not(.after),
.ico-human-form.before:before,
.ico-human-form.after:after { width: 10px; height: 12px; background-image: url(/images/icons/ico-human-form.png); }

.ico-phone-form:not(.before):not(.after),
.ico-phone-form.before:before,
.ico-phone-form.after:after { width: 12px; height: 12px; background-image: url(/images/icons/ico-phone-form.png); }

.ico-email-form:not(.before):not(.after),
.ico-email-form.before:before,
.ico-email-form.after:after { width: 16px; height: 11px; background-image: url(/images/icons/ico-email-form.png); }

.ico-pen-form:not(.before):not(.after),
.ico-pen-form.before:before,
.ico-pen-form.after:after { width: 16px; height: 16px; background-image: url(/images/icons/ico-pen-form.png); }

.ico-locker-form:not(.before):not(.after),
.ico-locker-form.before:before,
.ico-locker-form.after:after { width: 12px; height: 15px; background-image: url(/images/icons/ico-locker-form.png); }

.ico-envelope:not(.before):not(.after),
.ico-envelope.before:before,
.ico-envelope.after:after { width: 20px; height: 15px; background-image: url(/images/icons/ico-envelope.png); }

.ico-building-mini-dark:not(.before):not(.after),
.ico-building-mini-dark.before:before,
.ico-building-mini-dark.after:after { width: 14px; height: 14px; background-image: url(/images/icons/ico-building-mini-dark.png); }

.ico-pin-dark:not(.before):not(.after),
.ico-pin-dark.before:before,
.ico-pin-dark.after:after { width: 12px; height: 17px; background-image: url(/images/icons/ico-pin-dark.png); }

.ico-phone-dark:not(.before):not(.after),
.ico-phone-dark.before:before,
.ico-phone-dark.after:after { width: 12px; height: 12px; background-image: url(/images/icons/ico-phone-dark.png); }

.ico-email-dark:not(.before):not(.after),
.ico-email-dark.before:before,
.ico-email-dark.after:after { width: 16px; height: 11px; background-image: url(/images/icons/ico-email-dark.png); }

.ico-globe-dark:not(.before):not(.after),
.ico-globe-dark.before:before,
.ico-globe-dark.after:after { width: 16px; height: 15px; background-image: url(/images/icons/ico-globe-dark.png); }

.ico-building-title:not(.before):not(.after),
.ico-building-title.before:before,
.ico-building-title.after:after { width: 24px; height: 29px; background-image: url(/images/icons/ico-building-title.png); }

.ico-houses-title:not(.before):not(.after),
.ico-houses-title.before:before,
.ico-houses-title.after:after { width: 31px; height: 29px; background-image: url(/images/icons/ico-houses-title.png); }

.ico-pools-title:not(.before):not(.after),
.ico-pools-title.before:before,
.ico-pools-title.after:after { width: 29px; height: 29px; background-image: url(/images/icons/ico-pools-title.png); }

.ico-tools-title:not(.before):not(.after),
.ico-tools-title.before:before,
.ico-tools-title.after:after { width: 30px; height: 30px; background-image: url(/images/icons/ico-tools-title.png); }

.logo { width: 163px; height: 46px; background-image: url(/images/logo.png); }

@media (max-width: 1023px) {
	.ico-nav-play:not(.before):not(.after),
	.ico-nav-play.before:before,
	.ico-nav-play.after:after { width: 12px; height: 16px; background-image: url(/images/icons/ico-nav-play.png); }

	.ico-nav-group:not(.before):not(.after),
	.ico-nav-group.before:before,
	.ico-nav-group.after:after { width: 21px; height: 12px; background-image: url(/images/icons/ico-nav-group.png); }

	.ico-nav-dashboard:not(.before):not(.after),
	.ico-nav-dashboard.before:before,
	.ico-nav-dashboard.after:after { width: 18px; height: 17px; background-image: url(/images/icons/ico-nav-dashboard.png); }

	.ico-nav-house:not(.before):not(.after),
	.ico-nav-house.before:before,
	.ico-nav-house.after:after { width: 17px; height: 16px; background-image: url(/images/icons/ico-nav-house.png); }

	.ico-nav-chatbox:not(.before):not(.after),
	.ico-nav-chatbox.before:before,
	.ico-nav-chatbox.after:after { width: 21px; height: 19px; background-image: url(/images/icons/ico-nav-chatbox.png); }

	.ico-nav-envelope:not(.before):not(.after),
	.ico-nav-envelope.before:before,
	.ico-nav-envelope.after:after { width: 20px; height: 15px; background-image: url(/images/icons/ico-nav-envelope.png); }

	.logo { width: 115px; height: 33px; }
}

/* Retina Display */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
	.ico-search:not(.before):not(.after),
	.ico-search.before:before,
	.ico-search.after:after { background-image: url(/images/icons/ico-search@2x.png); }

	.ico-bg:not(.before):not(.after),
	.ico-bg.before:before,
	.ico-bg.after:after { background-image: url(/images/icons/ico-bg@2x.png); }

	.ico-drawing:not(.before):not(.after),
	.ico-drawing.before:before,
	.ico-drawing.after:after { background-image: url(/images/icons/ico-drawing@2x.png); }

	.ico-building:not(.before):not(.after),
	.ico-building.before:before,
	.ico-building.after:after { background-image: url(/images/icons/ico-building@2x.png); }

	.ico-design:not(.before):not(.after),
	.ico-design.before:before,
	.ico-design.after:after { background-image: url(/images/icons/ico-design@2x.png); }

	.ico-repair:not(.before):not(.after),
	.ico-repair.before:before,
	.ico-repair.after:after { background-image: url(/images/icons/ico-repair@2x.png); }

	.ico-arrow-right:not(.before):not(.after),
	.ico-arrow-right.before:before,
	.ico-arrow-right.after:after { background-image: url(/images/icons/ico-arrow-right@2x.png); }

	.ico-building-mini:not(.before):not(.after),
	.ico-building-mini.before:before,
	.ico-building-mini.after:after { background-image: url(/images/icons/ico-building-mini@2x.png); }

	.ico-pin:not(.before):not(.after),
	.ico-pin.before:before,
	.ico-pin.after:after { background-image: url(/images/icons/ico-pin@2x.png); }

	.ico-phone:not(.before):not(.after),
	.ico-phone.before:before,
	.ico-phone.after:after { background-image: url(/images/icons/ico-phone@2x.png); }

	.ico-email:not(.before):not(.after),
	.ico-email.before:before,
	.ico-email.after:after { background-image: url(/images/icons/ico-email@2x.png); }

	.ico-globe:not(.before):not(.after),
	.ico-globe.before:before,
	.ico-globe.after:after { background-image: url(/images/icons/ico-globe@2x.png); }

	.ico-facebook:not(.before):not(.after),
	.ico-facebook.before:before,
	.ico-facebook.after:after { background-image: url(/images/icons/ico-facebook@2x.png); }

	.ico-nav-play:not(.before):not(.after),
	.ico-nav-play.before:before,
	.ico-nav-play.after:after { background-image: url(/images/icons/ico-nav-play@2x.png); }

	.ico-nav-group:not(.before):not(.after),
	.ico-nav-group.before:before,
	.ico-nav-group.after:after { background-image: url(/images/icons/ico-nav-group@2x.png); }

	.ico-nav-dashboard:not(.before):not(.after),
	.ico-nav-dashboard.before:before,
	.ico-nav-dashboard.after:after { background-image: url(/images/icons/ico-nav-dashboard@2x.png); }

	.ico-nav-house:not(.before):not(.after),
	.ico-nav-house.before:before,
	.ico-nav-house.after:after { background-image: url(/images/icons/ico-nav-house@2x.png); }

	.ico-nav-chatbox:not(.before):not(.after),
	.ico-nav-chatbox.before:before,
	.ico-nav-chatbox.after:after { background-image: url(/images/icons/ico-nav-chatbox@2x.png); }

	.ico-nav-envelope:not(.before):not(.after),
	.ico-nav-envelope.before:before,
	.ico-nav-envelope.after:after { background-image: url(/images/icons/ico-nav-envelope@2x.png); }

	.ico-arrow-down:not(.before):not(.after),
	.ico-arrow-down.before:before,
	.ico-arrow-down.after:after { background-image: url(/images/icons/ico-arrow-down@2x.png); }

  .ico-human-form:not(.before):not(.after),
  .ico-human-form.before:before,
  .ico-human-form.after:after {background-image: url(/images/icons/ico-human-form@2x.png); }

  .ico-phone-form:not(.before):not(.after),
  .ico-phone-form.before:before,
  .ico-phone-form.after:after {background-image: url(/images/icons/ico-phone-form@2x.png); }

  .ico-email-form:not(.before):not(.after),
  .ico-email-form.before:before,
  .ico-email-form.after:after {background-image: url(/images/icons/ico-email-form@2x.png); }

  .ico-pen-form:not(.before):not(.after),
  .ico-pen-form.before:before,
  .ico-pen-form.after:after {background-image: url(/images/icons/ico-pen-form@2x.png); }

  .ico-locker-form:not(.before):not(.after),
  .ico-locker-form.before:before,
  .ico-locker-form.after:after {background-image: url(/images/icons/ico-locker-form@2x.png); }

  .ico-envelope:not(.before):not(.after),
  .ico-envelope.before:before,
  .ico-envelope.after:after {background-image: url(/images/icons/ico-envelope@2x.png); }

  .ico-building-mini-dark:not(.before):not(.after),
  .ico-building-mini-dark.before:before,
  .ico-building-mini-dark.after:after { background-image: url(/images/icons/ico-building-mini-dark@2x.png); }

  .ico-pin-dark:not(.before):not(.after),
  .ico-pin-dark.before:before,
  .ico-pin-dark.after:after { background-image: url(/images/icons/ico-pin-dark@2x.png); }

  .ico-phone-dark:not(.before):not(.after),
  .ico-phone-dark.before:before,
  .ico-phone-dark.after:after { background-image: url(/images/icons/ico-phone-dark@2x.png); }

  .ico-email-dark:not(.before):not(.after),
  .ico-email-dark.before:before,
  .ico-email-dark.after:after { background-image: url(/images/icons/ico-email-dark@2x.png); }

  .ico-globe-dark:not(.before):not(.after),
  .ico-globe-dark.before:before,
  .ico-globe-dark.after:after { background-image: url(/images/icons/ico-globe-dark@2x.png); }

  .ico-building-title:not(.before):not(.after),
  .ico-building-title.before:before,
  .ico-building-title.after:after { background-image: url(/images/icons/ico-building-title@2x.png); }

  .ico-houses-title:not(.before):not(.after),
  .ico-houses-title.before:before,
  .ico-houses-title.after:after { background-image: url(/images/icons/ico-houses-title@2x.png); }

  .ico-pools-title:not(.before):not(.after),
  .ico-pools-title.before:before,
  .ico-pools-title.after:after { background-image: url(/images/icons/ico-pools-title@2x.png); }

  .ico-tools-title:not(.before):not(.after),
  .ico-tools-title.before:before,
  .ico-tools-title.after:after { background-image: url(/images/icons/ico-tools-title@2x.png); }

  .logo { background-image: url(/images/logo@2x.png); }
}

/* ------------------------------------------------------------ *\
	Section Primary
\* ------------------------------------------------------------ */

.section-primary { display: flex; margin-bottom: 50px; align-items: center; }

.section-primary h2 { margin-bottom: 50px; }

.section-primary .section__image { flex: 0 0 460px; margin-left: 50px; }
.section-primary .section__content { flex: 0 1 100%; }

@media (max-width: 1023px) {
	.section-primary .section__image { flex: 0 0 40%; }
}

@media (max-width: 767px) {
	.section-primary { position: relative; padding-top: 60px; flex-flow: row wrap; text-align: center; }
	
	.section-primary h2 { position: absolute; width: 100%; top: 0; left: 0; }

	.section-primary .section__image { flex: 0 0 100%; margin: 0 0 30px; }
	.section-primary .section__content { transform: none; order: 1; }
}

/* ------------------------------------------------------------ *\
	Section Secondary
\* ------------------------------------------------------------ */

.section-secondary { position: relative; padding: 50px 0; text-align: center; }
.section-secondary.animated { transform: none; }
.section-secondary.is-stuck .nav-scrollspy { position: fixed; top: 0; left: 50%; margin-left: 620px; }

.section-secondary h2 { margin-bottom: 55px; }

.section-secondary .container { position: relative; }
.section-secondary .section__head { margin-bottom: 50px; }
.section-secondary .section__body { display: flex; justify-content: space-between; }
.section-secondary .section__foot { max-width: 935px; margin: 0 auto; }
.section-secondary .section__form { flex: 0 0 48.33%; text-align: left; }
.section-secondary .section__entry { margin-bottom: 50px; line-height: 1.75; }
.section-secondary .section__content { flex: 0 0 45.42%; text-align: left; }

.section-secondary .section__title { position: relative; padding: 10px 20px 13px 75px; margin: 40px 0; border-radius: 4px; text-align: left; background: #e9edf2; }
.section-secondary .section__title:first-child { margin-top: 0; }
.section-secondary .section__title:before { position: absolute; top: 50%; left: 34px; transform: translate(-50%, -50%); }
.section-secondary .section__title:after { content: ''; position: absolute; width: 0; height: 0; top: 100%; left: 18px; border-width: 17px 17px 0 17px; border-style: solid; border-color: #e9edf2 transparent transparent transparent; }

.section-secondary .section__actions a { position: relative; display: inline-block; font-size: 18px; font-weight: 700; text-decoration: none; }
.section-secondary .section__actions a:before { content: ''; position: absolute; width: 0; height: 1px; left: 50%; bottom: 0; background: #fff; transition: width .15s, left .15s; }
.section-secondary .section__actions a:after { margin-left: 10px; }
.section-secondary .section__actions a:hover:before { width: 100%; left: 0; }

.section-secondary > :last-child,
.section-secondary .container > :last-child { margin-bottom: 0; }

/*  Modifier: Section Secondary Alt */

.section-secondary--alt { padding-bottom: 0; }

/*  Modifier: Section Secondary Primary */

.section-secondary--primary { padding-bottom: 80px; }

@media (max-width: 767px) {
	.section-secondary { padding: 40px 0; }
	
	.section-secondary h2 { margin-bottom: 40px; }
  
  .section-secondary .section__head { margin-bottom: 0; }
  .section-secondary .section__body { display: block; }
  .section-secondary .section__form { margin-bottom: 30px; }

	/*  Modifier: Section Secondary Alt */

	.section-secondary--alt { padding-bottom: 0; }

  /*  Modifier: Section Secondary Primary */

  .section-secondary--primary { padding-bottom: 60px; }
}

/* ------------------------------------------------------------ *\
  Slider Mobile
\* ------------------------------------------------------------ */

@media (max-width: 767px) {
  .slider-mobile .slick-list { padding: 0 20px; overflow: visible; }

  .slider-mobile .slick-dots { display: flex; justify-content: center; padding-top: 30px; }
  .slider-mobile .slick-dots li { width: 8px; height: 8px; flex: 0 0 8px; margin: 0 6px; border-radius: 50%; background: #dee0e6; transition: box-shadow .15s, background .15s; }
  .slider-mobile .slick-dots .slick-active { box-shadow: 0 0 0 3px #1d8edd; background: #1d8edd; }
  .slider-mobile .slick-dots button { display: none; }
}

/* ------------------------------------------------------------ *\
	List Checks
\* ------------------------------------------------------------ */

.list-checks { display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center; margin-bottom: 50px; font-size: 16px; line-height: 1.13; text-align: left; }

.list-checks li { position: relative; flex: 0 0 35%; padding-left: 50px; margin-bottom: 45px; }
.list-checks li:before { content: ''; position: absolute; width: 32px; height: 32px; top: 50%; left: 0; margin-top: -16px; background: url(../images/check-icon.png) no-repeat 0 0 / 100% 100%; }
.list-checks li:nth-last-child(-n+2) { margin-bottom: 0; }

/*  Modifier: List Checks Alt */

.list-checks--alt li { flex: 0 0 22%; }
.list-checks--alt li:nth-last-child(-n+4) { margin-bottom: 0; }

@media (max-width: 1239px) {
	.list-checks li { flex: 0 0 45%; }

	/*  Modifier: List Checks Alt */

	.list-checks--alt li { flex: 0 0 22%; }
}

@media (max-width: 1023px) {
	.list-checks { font-size: 13px; }
}

@media (max-width: 500px) {
	.list-checks { display: block; margin-bottom: 35px; }
	
	.list-checks li:first-child { margin-top: 0; }

	.list-checks li,
	.list-checks li:nth-last-child(-n+2) { margin: 35px 0 0; }
}

/* ------------------------------------------------------------ *\
	List Gallery
\* ------------------------------------------------------------ */

.list-gallery { display: flex; flex-flow: row wrap; margin: 0 -37px 50px -40px; }

.list-gallery li { flex: 0 0 20%; padding: 0 37px 0 40px; }
.list-gallery li:nth-child(n+6) { margin-top: 77px; }
.list-gallery a { position: relative; display: block; border-radius: 10px; overflow: hidden; box-shadow: 0 0 40px rgba(47, 51, 64, .28);}
.list-gallery a:hover:before { transform: scale(1.2); }
.list-gallery a:before { content: ''; position: absolute; width: 25px; height: 25px; top: 6px; right: 6px; background: url(../images/gallery-magnifier.png) no-repeat 0 0 / contain; transition: transform .15s; }
.list-gallery img { display: block; }

@media (max-width: 1023px) {
	.list-gallery { margin-right: -20px; margin-left: -20px; }
	
	.list-gallery li { padding-right: 20px; padding-left: 20px; }
	.list-gallery li:nth-child(n+6) { margin-top: 40px; }
}

@media (max-width: 767px) {
	.list-gallery { margin: 0 -13px 35px; }

	.list-gallery li { flex: 0 0 25%; padding: 0 13px; }
	.list-gallery li:nth-child(n+5) { margin-top: 26px; }
}

@media (max-width: 415px) {
	.list-gallery li { flex: 0 0 50%; }
	.list-gallery li:nth-child(n+3) { margin-top: 26px; }
}

/* ------------------------------------------------------------ *\
	Properties
\* ------------------------------------------------------------ */

.properties { margin-bottom: 50px; }

.property { display: flex; text-align: center; }

.property a { display: block; text-decoration: none; }
.property a:before { content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: 1px solid transparent; border-radius: 4px; transition: border-color .15s; }
.property a:hover:before { border-color: #1d8edd; }

.property .btn { position: static; }
.property .btn:before { content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

.property .property__inner { position: relative; max-width: 100%; flex: 0 0 100%; padding: 15px 12px; border-radius: 4px; background: #fff; }
.property .property__title { margin-bottom: 12px; font-weight: 700; color: #212b49; }
.property .property__price { margin-bottom: 18px; font-size: 24px; font-weight: 700; color: #bac2da; }

.property .property__image { margin-bottom: 15px; border-radius: 4px; overflow: hidden; }
.property .property__image img { display: block; width: 100%; }

/*  Modifier: Property Grey */

.property--grey .property__inner { background: #f2f3f8; }

@media (max-width: 539px) {
	.properties { display: block; padding: 0 10px; margin: 0 0 35px; border-radius: 4px; overflow: hidden; background: #fff; }
	
	.properties .property:nth-child(n) { margin: 0; }
	.properties .property + .property { border-top: 1px solid #bac2da; }

	.property { padding: 12px 0; text-align: left; background: #fff; }
	
	.property a { display: flex; }
	.property a:before { display: none; }

	.property .property__title { font-size: 14px; }
	.property .property__inner { max-width: 100%; padding: 0; background: none; }
	.property .property__container { flex: 0 1 100%; }

	.property .btn { min-width: 0; padding: 0; border: 0; pointer-events: none; }
	.property .btn:after { content: ''; position: relative; display: inline-block; width: 13px; height: 9px; top: -1px; margin-left: 7px; vertical-align: middle; background: url(/images/property-arrow-right.png) no-repeat 0 0 / 100% 100%; }

	.property .property__image { flex: 0 0 120px; height: 120px; margin: 0 10px 0 0; border-radius: 0; }
	.property .property__image img { position: relative; width: auto; max-width: none; height: 100%; left: 50%; transform: translateX(-50%); }
}

/* ------------------------------------------------------------ *\
	Projects
\* ------------------------------------------------------------ */

.project { position: relative; font-size: 14px; line-height: 1.43; color: #fff; text-align: center; }

.project img { display: block; width: 100%; transition: filter .15s; }
.project a:hover img { filter: blur(5px); }
.project a:hover .project__overlay { transform: scale(1); opacity: 1; visibility: visible; }

.project .btn { pointer-events: none; }
.project .btn:after { position: relative; top: -1px; margin-left: 10px; }

.project .project__inner { max-width: 100%; flex: 0 0 100%; padding: 10px 20px; }
.project .project__entry { margin-bottom: 35px; }
.project .project__overlay { position: absolute; display: flex; align-items: center; top: 15px; right: 25px; bottom: 15px; left: 25px; transform: scale(.95); opacity: 0; visibility: hidden; background: rgba(29, 142, 221, 0.9); transition: transform .15s, opacity .15s, visibility .15s; }

.project .project__title { margin-bottom: 23px; font-size: 18px; font-weight: 700; color: #fff; }
.project .project__title span { display: block; font-size: 14px; font-weight: 400; }

@media (max-width: 767px) {
  .projects.slick-slider .project + .project { margin-top: 0; }
}

@media (max-width: 539px) {
	.projects { display: block; }
	.projects.projects--expanded .project:nth-child(n) { display: block; }
	.projects.projects--expanded .projects__more { display: none; }

	.projects .projects__more { margin-top: 20px; }
	.projects .projects__more span:after { position: relative; top: -1px; margin-left: 10px; }
	
	.projects .project { margin: 0; }
	.projects .project:nth-child(n+4) { display: none; }
	.projects .project + .project { margin-top: 10px; }

	.project a:hover img { filter: none; }

	.project .project__inner { padding-top: 18px; padding-bottom: 18px; }
	.project .project__overlay { top: auto; transform: none; opacity: 1; visibility: visible; }
}

/* ------------------------------------------------------------ *\
	Slider Images
\* ------------------------------------------------------------ */

.slider-images .slick-list { max-width: 626px; padding-right: 120px; overflow: visible; }

/* ------------------------------------------------------------ *\
  Form Elements
\* ------------------------------------------------------------ */

.form-actions { padding-top: 50px; }

.form-row { margin-bottom: 12px; }

.form-row[class*="ico"] { position: relative; }
.form-row[class*="ico"] .form-field { padding-left: 50px; }
.form-row[class*="ico"]:before { position: absolute; top: 30px; left: 25px; transform: translate(-50%, -50%); }
.form-row--captcha { display: flex; justify-content: space-between; align-items: center; }
.form-row--captcha img { margin: 0 30px; }

.form-field { display: block; width: 100%; height: 60px; flex: 0 1 100%; padding: 0 20px; border: 1px solid #d5e2ea; border-radius: 6px; color: rgba(39, 42, 53, 0.5); transition: padding .15s, border-color .15s, color .15s; }
.form-field:focus { border-color: #272a35; color: #272a35; }
.form-field--textarea { height: 194px; padding-top: 18px; padding-bottom: 18px; resize: none; }

@media (max-width: 767px) {
  .form-actions { padding-top: 0; text-align: center; }

  .form-row--captcha img { margin: 0 0 0 15px; }
}

/* ------------------------------------------------------------ *\
  List Links Icons
\* ------------------------------------------------------------ */

.list-links-icons { margin-bottom: 20px; text-align: left; }

.list-links-icons a { text-decoration: none; transition: color .15s; }
.list-links-icons a:hover { color: #1d8edd; }
.list-links-icons li { position: relative; padding-left: 30px; }
.list-links-icons li:before { content: ''; position: absolute; top: 50%; left: 10px; transform: translate(-50%, -50%); }
.list-links-icons li + li { margin-top: 8px; }

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { padding: 40px 0; font-size: 14px; line-height: 1.43; color: rgba(255, 255, 255, .5); background: #1e2027; }

.footer a { text-decoration: none; transition: color .15s; }
.footer a:hover { color: #1d8edd; }

.footer .footer__cols { margin: 0 -35px; }
.footer .footer__title { margin-bottom: 13px; font-size: 16px; font-weight: 700; color: #fff; }
.footer .list-links-icons { margin-bottom: 0; }

.footer .footer__col { position: relative; padding: 0 35px; margin-top: 0; }
.footer .footer__col:before { margin-left: -1px; background: rgba(255, 255, 255, .1); }
.footer .footer__col:after { background: #16181c; }

.footer .footer__nav li { position: relative; padding-left: 17px; }
.footer .footer__nav li:before { content: ''; position: absolute; width: 8px; height: 8px; top: 50%; left: 0; margin-top: -4px; transform: rotate(45deg); opacity: .5; border-top: 1px solid #fff; border-right: 1px solid #fff; }
.footer .footer__nav li + li { margin-top: 7px; }

.footer .footer__social-link { display: inline-block; vertical-align: middle; transition: opacity .15s; }
.footer .footer__social-link:hover { opacity: .7; }

.footer .footer__entry { margin-bottom: 10px; }
.footer .footer__entry a { font-weight: 700; text-decoration: none; transition: color .15s; }
.footer .footer__entry a:hover { color: #1d8edd; }

.footer .footer__col + .footer__col:before,
.footer .footer__col + .footer__col:after { content: ''; position: absolute; width: 1px; height: 100%; top: 0; left: 0; }

@media (max-width: 1023px) {
	.footer .footer__col { padding-top: 20px; padding-bottom: 20px; }
	.footer .footer__col:nth-child(n+3) { border-top: 1px solid rgba(255, 255, 255, .1); }
}

@media (max-width: 539px) {
	.footer { padding: 25px 0; }

	.footer .footer__cols { margin: 0; }
	.footer .footer__col { padding: 15px 0; border-width: 1px 0 1px 0; border-style: solid; border-color: #16181c transparent #35373d; }
	.footer .footer__col:first-child { padding-top: 0; border-top: 0; }
	
	.footer .footer__col:before,
	.footer .footer__col:after { display: none; }

	.footer .footer__col:nth-child(3),
	.footer .footer__col:nth-child(4) { padding-bottom: 0; border-bottom: 0; border-top-color: #16181c; }
}
